<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IWsService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/ServiceModelSamples/service"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWsService"
                contract="IWsService" name="WSHttpBinding_IWsService">
                <identity>
                    <servicePrincipalName value="host/alsoro.inyar.ru" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>